*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}
.container{
    width: 100%;
    padding:10px 60px;
}
.logo{
    margin:20px 30px;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
.logo span{
    color: red;
}